{% extends 'layout.html' %}

{% block content %}
    <h1>Analysis on Breast Cancer Data</h1>
    <label for="dropdown">Select an age range:</label>
    <select id="dropdown" name="ageRange">
        <option value="20-29">20-29</option>
        <option value="30-39">30-39</option>
        <option value="40-49">40-49</option>
        <option value="50-59">50-59</option>
        <option value="60-69">60-69</option>
        <option value="70-79">70-79</option>
    </select>

    <button>Submit</button>
{% endblock %}